@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

:root {
  /* Colors: */
  --blue_3_-f1f6fb: #F1F6FB;
  --green_1_-00e022: #00E022;
  --red_1_-dd3542: #DD3542;
  --gray_1_-8e8e8e: #8E8E8E;
  --gray_2_-dedede: #DEDEDE;
  --gray_3_-cccccc-button-off: #CCCCCC;
  --gray_4_registros_-f7f7f7: #F7F7F7;
  --white_-ffffff: #FFFFFF;
  --azul-plomo: #ABB9C7;
  --azul-plomo-50-: #ABB9C780;
  --413e4d-input-color: #413E4D;
}

body {
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  height: 476px;
  opacity: 1;
}

.contenedor {
  top: 148px;
  left: 440px;
  width: 400px;
  height: 476px;
  opacity: 1;
}

.imagen__sufi {
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 148px;
  left: 508px;
  width: 264px;
  height: 76px;
  opacity: 1;
}
/* Estilos CSS existentes para el contenido */

.contenido {
  display: grid;
  justify-content: center;
  margin-top: 10vh;
  grid-template-areas:
    "info"
    "contenido-descripcion"
    "entradas"
    "boton"
    "texto";
  row-gap: 5vh;
  text-align: center;
}

.contenido-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; ;
}
.contenido-titulo, .contenido-descripcion {
  margin-top: 8px;
}

.contenido-titulo h1 {
  top: 236px;
  left: 456px;
  width: 368px;
  height: 48px;
  font: normal normal bold 40px/55px Open Sans;
  letter-spacing: 0px;
  color: #413E4D;
  opacity: 1;
  text-align: center;
}

.contenido-descripcion {
  top: 292px;
  left: 456px;
  width: 368px;
  height: 20px;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #413E4D;
  opacity: 1;
  text-align: center;
}

.contenido-entradas {
  top: 344px;
  left: 440px;
  width: 400px;
  height: 156px;
  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px #00000029;
  border-radius: 12px;
  opacity: 1;
}
input[type="text"], input [type="password"]{
  margin: 14px;
}
.contenido-entradas input {
  top: 360px;
  left: 456px;
  width: 368px;
  height: 56px;
  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--azul-plomo-50-);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #ABB9C780;
  border-radius: 6px;
  opacity: 1;
}

.contenido-entradas input::placeholder {
  padding: 9px;
  top: 368px;
  left: 472px;
  width: 336px;
  height: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--azul-plomo);
  text-align: left;
  font: normal normal normal 12px/22px Open Sans;
  letter-spacing: 0px;
  color: #ABB9C7;
  opacity: 1;
}

.contenido-entradas input:focus {
  top: 456px;
  left: 472px;
  width: 336px;
  height: 20px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #413E4D;
  opacity: 1;
}

button {
  position: absolute;
  top: 490px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 174px;
  height: 48px;
  border: none;
  background-color: #DD3542;
  color: white;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  outline: none;
}

.boton__texto {
  top: 546px;
  left: 577px;
  width: 126px;
  height: 20px;
  font: normal normal bold 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.contenido-texto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido-texto p {
  text-decoration: underline;
  cursor: pointer;
  top: 604px;
  left: 472px;
  width: 336px;
  height: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/17px var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---413e4d-input-color);
  text-align: center;
  text-decoration: underline;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #413E4D;
  opacity: 1;
  text-align: center;
  margin-top: 65px;
}

